.navbar {
  padding: 0 0 !important;
  position: fixed;
  height: 90px;
  /*900*/
  background-color: white;
  z-index: 2;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-icon {
  margin-right: 0;
}

.username {
  margin-right: 10px;
  margin-top: 5px;
}
