<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Crear o editar Sprint</h1>
    <form [formGroup]="dataValidationForm" (ngSubmit)="callOnSubmit()">
        <div class="form-container__input" fxLayoutAlign="center stretch">
            
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <label for="nombre">
                    <input id="nombre" fxFlexFill formControlName="nombre" matInput
                           placeholder="Nombre del Sprint">
                </label>
            </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" [disabled]="dataValidationForm?.invalid">
                <mat-icon aria-hidden="false" aria-label="Continuar">navigate_next</mat-icon>
                <span>Confirmar</span>
            </button>
        </mat-card-actions>
    </form>
</div>
