<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Crear o Editar Proyecto</h1>
    <form [formGroup]="dataValidationForm" (ngSubmit)="callOnSubmit()">
        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <label for="nombre_proyecto">
                    <input id="nombre_proyecto" fxFlexFill formControlName="nombre_proyecto" matInput
                           placeholder="Nombre del Proyecto">
                </label>
            </mat-form-field>

        </div>

        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="outline">
                <mat-label>Descripcion</mat-label>
                <label for="descripcion">
                    <input id="descripcion" fxFlexFill formControlName="descripcion" matInput
                           placeholder="Descripcion del Proyecto">
                </label>
            </mat-form-field>
        </div>

        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="fill">
                <mat-label>Miembros</mat-label>
                <mat-select formControlName="users" multiple [compareWith]="compareMembersObjects">
                    <mat-option *ngFor="let value of availableUsers" [value]="value">{{value.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" [disabled]="dataValidationForm?.invalid">
                <mat-icon aria-hidden="false" aria-label="Continuar">navigate_next</mat-icon>
                <span>Confirmar</span>
            </button>
        </mat-card-actions>
    </form>
</div>
