.sidenav {
  height: 100%;
  padding-top: 100px;
  background-color: #001950;
}

.sidenav::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

mat-expansion-panel {
  background-color: #001950;
}

.nav-button {
  color: white;
  width: 100%;
}

.mat-icon {
  color: white;
}

.button-title {
  margin-right: 16px;
}
