#login-jwt-form {
  margin-top: 10%;
}

.login-jwt-card {
  min-width: 400px;
  margin: 10% auto;
}

mat-form-field {
  width: 325px;
  margin: 0 20px;
}

mat-card-actions button {
  margin-bottom: 12px;
}
